<section>
  <%= button_to "New Habit", new_habit_path, class: "btn btn-outline-primary button" %>
  
  <table class="table w-75 mx-auto">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Streak</th>
        <th scope="col">Edit Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @habits.each do |habit| %>
        <tr>
          <td><%= habit.name %></td>
          <td><%= habit.records.where(done: true).count %></td>
          <td><%= link_to "Edit", edit_habit_path(habit) %>  <%= link_to "Delete", habit_path(habit), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <%= button_to "Make a record", records_path, method: :post, class: "btn btn-outline-primary button" %>

  <table class="table table-bordered w-75 mx-auto mb-5">
  <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">Description</th>
      <th scope="col">Done</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= record.habit.name %></td>
        <td>
          <div class="form-check">
            <%= form_with(model: record, local: true) do |record_form| %>
              <%= record_form.check_box :done, {class: "form-check-input", data: {remote: true, url: record_path(record), method: :put}}, true, false %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>

    <%#= paginate @records %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </tbody>
</table>
</section>