<!DOCTYPE html>
<html>
  <head>
    <title>Habit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Habit Streak</span>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer class="footer py-3 bg-light">
      <div class="text-center bg-light">
        <span class="bg-light text-muted">Copyright habit_app. All rights reserved.</span>
      </div>
    </footer>
</html>
